html, body {
  background: var(--color-secondary);
  color: var(--font-color);
  display: block;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: medium;
  margin: auto;
  padding: 0;
  height: 100%;
  width: 100%;
  min-height: 100%;
}

.theme-light {
  --color-primary: #2e7de6;
  --color-secondary: #fbfbfe;
  --color-tertiary: #414141;
  --color-accent: #fd6f53;
  --font-color: #000000;
  --text-content: "Dark Mode";
}

.theme-dark {
  --color-primary: #17ed90;
  --color-secondary: #243133;
  --color-tertiary: #192224;
  --color-accent: #12cdea;
  --font-color: #ffffff;
  --text-content: "Light Mode";
  /* --color-primary: #000000;
    --color-secondary: #14213D;
    --color-accent: #FCA311;
    --font-color: #FFFFFF; */
}

.container {
  display: block;
  text-align: justify;
  padding: 3em;
}

.container button {
  background: var(--color-primary);
  border: 0;
  border-radius: 5px;
  color: var(--font-color);
  padding: 10px;
}

.container button::after {
  content: var(--text-content);
}

.float-button {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  margin-top: 22px;
}

.navbar {
  overflow: hidden;
  background-color: var(--color-tertiary);
  position: fixed;
  top: 0;
  width: 100%;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: var(--color-primary);
  color: var(--color-secondary);
}

/* .navigation {
  text-align: center;
  font-size: x-large;
  overflow: hidden;
  background-color: var(--color-primary);
  position: fixed;
  top: 0; 
  width: 100%; 
}

.navigation li {
  display: inline-block;
}

.navigation a {
  text-decoration: none;
  color: var(--font-color);
} */

footer{
  bottom:0;
  width:100%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 0px;
  position:relative;
}
